@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color:#22254b;
    margin:0;
    font-family: 'Poppins', sans-serif;
  
}
header{
    background-color: #373b69;
    padding:0.6rem;
    
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items:center;
    color:#7378c5;
    

}
.search{
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid #22254b;
    padding:0.7rem;
  
    font-family: inherit;
    outline: none;
    font-size:1rem; 
    
}

.search::placeholder{
    color:#7378c5;
}

.search:focus{
   background-color:#fff;
   color:#22254b;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.movie{
    background-color:#373b69;
    border-radius:3px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    width:300px;
    color: white;
    margin:1rem;
    position:relative;
   
}

.movie img{
    
    width:100%;
    height:400px;
}

.movie-info{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    color: #eee;
    letter-spacing: 1px;
    padding:0.5rem 1rem 1rem;
}
.movie-info h3{
    margin:0;
}



.movie-info span{
    background-color: #22254b;
    padding:0.25rem 0.5rem;
    border-radius:3px;
    font-weight: 600;
}

.movie-info span.green{
    color:rgb(39,189,39);
}
.movie-info span.orange{
    color:orange;
}
.movie-info span.red{
    color:red;
}
.overview{
    padding:1rem;
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    max-height:100%;
    background-color: rgba(72, 66, 128, 0.9);
    font-weight: 600;
    /* background-color: #7378c5; */
    transform: translateY(100%);
    transition:transform 0.3s ease-in;
    overflow:auto;
}
.movie:hover .overview{
  opacity:1;
    transform: translateY(0);
 }
 /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7378c5; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #373b69; 
  }